<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>251985543063-u03u36vj4odqcp52gtndjacdomatjqn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.251985543063-u03u36vj4odqcp52gtndjacdomatjqn7</string>
	<key>API_KEY</key>
	<string>AIzaSyAjUiHmQaKXxYbo53horEc_tfIigEW1zyA</string>
	<key>GCM_SENDER_ID</key>
	<string>251985543063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>ftftfgtg</string>
	<key>STORAGE_BUCKET</key>
	<string>ftftfgtg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:251985543063:ios:4888fe706d93615c9f8ed2</string>
</dict>
</plist>